.v-swap-wrap {
	background-color: var(--white);
	border-radius: 1.2rem;
	padding: 1.2rem;
	isolation: isolate;
	border: 1px solid #ddd6;
}
.v-swap-container {
	border-radius: 0;
	display: flex;
	flex-direction: column;
	transition: flex-direction 300ms ease-in-out;
	border: 1.5px solid #ddd8;
	min-height: 280px;
	border-radius: 1rem;
}
.v-swap-container .v-middle-swap {
	transform: rotate(0deg);
	background-color: #ddd8;
	align-items: center;
	justify-content: center;
	z-index: 1;
	display: flex;
	margin: 10px auto;
	width: 100%;
	height: 1.5px;
}
.v-swap-container .v-aside {
	padding: 1rem;
	border-radius: 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.v-middle-swap [type="button"] {
	background-color: var(--white);
	color: var(--dark);
	border: 1.6px solid #ddd8;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50%;
	transform: rotate(90deg);
	transition: 300ms ease-in-out;
}
.v-aside .v-coin-dropdown-toggler {
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 1000px;
	border: 1.5px solid #ddd8;
	width: max-content;
}
.v-aside .v-coin-dropdown-toggler .v-coin-image {
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1.8rem;
}
.v-aside .v-coin-dropdown-toggler .v-coin-short-name {
	margin-left: 8px;
	text-transform: uppercase;
	font-size: 1.01rem;
	font-weight: 600;
}
.v-aside .v-coin-dropdown-toggler .v-icon {
	margin-left: 12px;
}
.v-aside .v-dropdown {
	position: absolute;
	background-color: var(--white);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 1rem;
	border-radius: 10px;
	z-index: 2;
	width: 300px;
	border: 1px solid #ddd8;
	height: 300px;
	z-index: 2;
}
.v-aside .v-dropdown .v-list {
	padding-bottom: 10px;
	max-height: 270px;
	margin-top: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}
.v-aside .v-dropdown .v-list::-webkit-scrollbar {
	width: 5px;
}
.v-aside .v-dropdown.left {
	left: 0%;
	bottom: 25%;
	transform: translate(0%, 100%);
}
.v-aside .v-dropdown.right {
	right: 50%;
	bottom: 30%;
	transform: translate(20%, 100%);
}
.v-aside .v-amt {
	font-size: 2.9rem;
}
.v-aside .v-bal-title {
	opacity: 0.8;
	font-size: 0.95rem;
}
.v-aside .v-bal {
	font-kerning: none;
}
.v-main-content .v-swap-text {
	opacity: 0.9;
	font-kerning: none;
	font-size: 1rem;
}
.v-main-content .v-aside .v-sm-text {
	font-size: 0.9rem;
	text-transform: uppercase;
	opacity: 0.8;
}
.v-swap-wrap .v-action {
	background-color: var(--primary-clr);
	color: var(--white);
	width: 100%;
	border-radius: 100vmax;
	padding: 1rem;
}
.v-asset {
	margin: 2rem 0 1rem;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 1rem;
	border: 1px solid #ddd6;
}
.v-asset .v-list {
	display: flex;
	flex-direction: column;
}
.v-dropdown .v-list .v-each-list,
.v-asset .v-list .v-each-list {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.v-asset .v-list .v-each-list:not(:last-child) {
	padding-bottom: 14px;
}
.v-dropdown .v-list .v-each-list .v-coin-image,
.v-asset .v-list .v-each-list .v-coin-image {
	max-width: 2.2rem;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.v-asset .v-list .v-rate {
	display: flex;
	margin-left: auto;
	flex-direction: column;
}
.v-dropdown .v-each-list .v-coin-names,
.v-asset .v-each-list .v-coin-names {
	display: flex;
	flex-direction: column;
	row-gap: 1px;
	align-items: flex-start;
}
.v-dropdown .v-each-list .v-coin-names .v-long,
.v-asset .v-each-list .v-coin-names .v-long {
	line-height: 1;
}
.v-dropdown .v-each-list .v-coin-names .v-short,
.v-asset .v-each-list .v-coin-names .v-short {
	text-transform: uppercase;
	font-size: 0.85rem;
}
.v-dropdown .form-control::placeholder {
	font-size: 0.9rem;
	opacity: 0.8;
}
.v-dropdown .form-control:focus {
	border-color: var(--primary-clr);
}
.v-dropdown .v-each-list {
	background-color: transparent;
	padding: 6px;
	border-radius: 5px;
	transition: 300ms ease-in-out;
}
.v-dropdown .v-each-list:hover {
	background-color: #ddd4;
}
.v-aside-inner .v-input .form-control {
	min-height: 3rem;
	border: 1px solid #ddd6;
	display: flex;
	align-items: center;
	font-size: 2rem;
	max-width: 15rem;
	font-kerning: none;
}
.v-aside-inner .v-input .form-control::placeholder {
	font-size: 1rem;
	opacity: 0.8;
}
